.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/imagenes/FondoLogin.jpg');
    background-size: cover;
    background-position: center;
  }

  .encabezado{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(201, 197, 8);
    font-weight: bold;
  }

.bg-dark-custom {
  background-color: #1a1a1a;
}

.magic-title {
  font-family: 'Garamond', serif;
  color: gold;
  font-size: 2.5rem;
  text-shadow: 1px 1px 5px #000;
}

.contenedor-tareas {
  background-color: #2a2a2a;
  padding: 2rem;
  border-radius: 1rem;
}

.botones button {
  font-weight: bold;
  border-radius: 10px;
}

.lista-tareas li {
  font-size: 1.2rem;
}